<section class="wrap ">
    <!-- <div class="container"> -->
    <div class="content">
        <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#1D66DE" fill-opacity="1"
                d="M0,160L80,170.7C160,181,320,203,480,181.3C640,160,800,96,960,74.7C1120,53,1280,75,1360,85.3L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
            </path>
            <text x="70" y="115" fill="white" font-size="70px"> User Details</text>
            
        
        </svg>

        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center">
                <!--bg-dark text-white -->
                <thead class=" bg-primary text-white">

                    <tr class="header">
                        <th>No.</th>
                        <th>Full Name</th>
                        <th>Email Id</th>
                        <th>Number</th>
                        <th>Aadhaar Card Number</th>
                        <th>Passport Number</th>
                        <th>Education</th>
                        <th>Skill Sets</th>
                        <th>Experienced</th>
                        <th>Fresher </th>
                        <th>Current Position</th>
                        <th>Current ctc</th>
                        <th>Expected ctc</th>
                        <th>Position Applied For</th>
                        <th>Availability</th>
                        <th>Current City</th>
                        <th>Country Residing </th>
                        <th>Citizenship</th>                       
                        <th>Resume</th>
                        <th>Any Cert</th>
                        <th>additional Cert</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>1</td>
                        <td>santhosh</td>
                        <td>san@gamil.com</td>
                        <td>0987654322</td>
                        <td>Bsc</td>
                        <td>Angular</td>
                        <td>Fresher</td>
                        <td>20000</td>
                        <td>40000</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>santhosh</td>
                        <td>san@gamil.com</td>
                        <td>0987654322</td>
                        <td>Bsc</td>
                        <td>Angular</td>
                        <td>Fresher</td>
                        <td>20000</td>
                        <td>40000</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>santhosh</td>
                        <td>san@gamil.com</td>
                        <td>0987654322</td>
                        <td>Bsc</td>
                        <td>Angular</td>
                        <td>Fresher</td>
                        <td>20000</td>
                        <td>40000</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                    </tr>
                  
                    <tr>
                        <td>4</td>
                        <td>santhosh</td>
                        <td>san@gamil.com</td>
                        <td>0987654322</td>
                        <td>Bsc</td>
                        <td>Angular</td>
                        <td>Fresher</td>
                        <td>20000</td>
                        <td>40000</td>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    <!-- </div> -->




    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        VIEW
    </button>

    <!-- Modal -->
<div ></div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Form</h5>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body">
                    <table class="table" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>Name </th>
                                <td>Santhosh</td>
                            </tr>
                            <tr>
                                <th>Email </th>
                                <td>Santhosh@gmail.com</td>
                            </tr>
                            <tr>
                                <th>Number </th>
                                <td>987654321</td>
                            </tr>
                            <tr>
                                <th>Aadhaar Card Number </th>
                                <td>987654321</td>
                            </tr>
                            <tr>
                                <th>Passport Number </th>
                                <td>987654321</td>
                            </tr>
                            <tr>
                                <th>Education </th>
                                <td>Bsc</td>
                            </tr>
                            <tr>
                                <th>Skill Sets </th>
                                <td>Java</td>
                            </tr>
                            <tr>
                                <th>Experienced</th>
                                <td> Experienced</td>
                            </tr>
                            <tr>
                                <th>Fresher </th>
                                <td> Fresher</td>
                            </tr>
                            <tr>
                                <th>Current Position</th>
                                <td>forndend developer </td>
                            </tr>
                            <tr>
                                <th>Current Ctc</th>
                                <td>30000</td>
                            </tr>
                            <tr>
                                <th>Expected Ctc</th>
                                <td>40000</td>
                            </tr>
                            <tr>
                                <th>Position Applied For </th>
                                <td> Fresher</td>
                            </tr>
                            <tr>
                                <th>Availability </th>
                                <td> 1month</td>
                            </tr>
                            <tr>
                                <th>Current City </th>
                                <td> karaikudi</td>
                            </tr>
                            <tr>
                                <th>Country Residing </th>
                                <td> null</td>
                            </tr>
                            <tr>
                                <th>Citizenship </th>
                                <td> null</td>
                            </tr>                           
                            <tr>
                                <th>Resume </th>
                                <td><button class="btn1"><i class="fa fa-download"></i> Download</button></td>
                            </tr>

                            <tr>
                                <th>Any Cert </th>
                                <td><button class="btn1"><i class="fa fa-download"></i> Download</button></td>
                            </tr>
                            <tr>
                                <th>Additional Cert </th>
                                <td><button class="btn1"><i class="fa fa-download"></i> Download</button></td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Download</button>  -->
                </div>
            </div>
        </div>
    </div>
</div>
</section>