<section class="root">
    <div class="container">
        <div class="row">
            <h1 class="title mt-3 mb-5">Registration Form</h1>
            <form [formGroup]="form" (ngSubmit)="candidateFormSubmission(form.value)" id="scrollBarHidden">
                <div class="mb-3">
                    <label class="form-label">Full Name</label>
                    <input type="name" formControlName="Name" class="form-control" aria-describedby="emailHelp"
                        placeholder="Enter your Full Name" required>
                    <span class="text-danger"
                        *ngIf="form.controls['Name'].touched && form.hasError('required','Name')">*Field
                        is required</span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email Id</label>
                    <input type="email" formControlName="EmailId" class="form-control" aria-describedby="emailHelp"
                        placeholder="Tell Us your Email Id">
                    <span class="text-danger"
                        *ngIf="form.controls['EmailId'].touched && form.hasError('required','EmailId')">*Field
                        is required</span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Mobile Number</label>
                    <input type="text" formControlName="phoneNumber" class="form-control" placeholder="Mobile Number">
                    <span class="text-danger"
                        *ngIf="form.controls['phoneNumber'].touched && form.hasError('required','phoneNumber')">*Field
                        is required</span>
                </div>
                <div class="mb-3">
                    <label class="form-label"> Identity Card number</label>
                    <input type="text" formControlName="IdentityCardNumber" class="form-control"
                        placeholder="Enter your Id card Number">
                    <span class="text-danger"
                        *ngIf="form.controls['IdentityCardNumber'].touched && form.hasError('required','IdentityCardNumber')">*Field
                        is required</span>
                </div>
                <div class="mb-3">
                    <label class="form-label"> Passport Number</label>
                    <input type="text" formControlName="PassPort" class="form-control"
                        placeholder="Enter your PassPort Number">
                    <span class="text-danger"
                        *ngIf="form.controls['PassPort'].touched && form.hasError('required','PassPort')">*Field
                        is required</span>
                </div>
                <div class="mb-3">
                    <label class="form-label"> Education</label>
                    <input type="text" formControlName="EducationDetails" class="form-control"
                        placeholder="Enter your Education Details">
                    <span class="text-danger"
                        *ngIf="form.controls['EducationDetails'].touched && form.hasError('required','EducationDetails')">*Field
                        is required</span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Skill Sets</label>
                    <input type="text" formControlName="SkillSet" class="form-control"
                        placeholder="Enter your Skill Set">
                    <span class="text-danger"
                        *ngIf="form.controls['SkillSet'].touched && form.hasError('required','SkillSet')">*Field
                        is required</span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Experience</label>
                    <input type="text" formControlName="Experience" class="form-control"
                        placeholder="Enter your Experience">
                    <span class="text-danger"
                        *ngIf="form.controls['Experience'].touched && form.hasError('required','Experience')">*Field
                        is required</span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Fresher</label>
                    <input type="text" formControlName="Fresher" class="form-control" placeholder="Are you Fresher?">
                    <span class="text-danger"
                        *ngIf="form.controls['Fresher'].touched && form.hasError('required','Fresher')">*Field
                        is required</span>
                </div>
                <div class="mb-3">
                    <label class="form-label">current City</label>
                    <input type="text" formControlName="CurrentCity" class="form-control"
                        placeholder="Enter your Current City">
                    <span class="text-danger"
                        *ngIf="form.controls['CurrentCity'].touched && form.hasError('required','CurrentCity')">*Field
                        is required</span>
                </div>

                <div class="mb-3">
                    <label class="form-label"> Current Position</label>
                    <input type="text" formControlName="CurrentRole" class="form-control"
                        placeholder="Enter your current Position">
                    <span class="text-danger"
                        *ngIf="form.controls['CurrentRole'].touched && form.hasError('required','CurrentRole')">*Field
                        is required</span>
                </div>
                <div class="mb-3">
                    <label class="form-label"> Current Ctc</label>
                    <input type="text" formControlName="CurrentCtc" class="form-control"
                        placeholder="Enter your current Ctc">
                    <span class="text-danger"
                        *ngIf="form.controls['CurrentCtc'].touched && form.hasError('required','CurrentCtc')">*Field
                        is required</span>
                </div>
                <div class="mb-3">
                    <label class="form-label"> Expected Ctc</label>
                    <input type="text" formControlName="ExpectedCtc" class="form-control"
                        placeholder="Enter your Expected Ctc">
                    <span class="text-danger"
                        *ngIf="form.controls['ExpectedCtc'].touched && form.hasError('required','ExpectedCtc')">*Field
                        is required</span>
                </div>
                <div class="mb-3">
                    <label class="form-label"> Position Applied For</label>
                    <input type="text" formControlName="PositionApplied" class="form-control"
                        placeholder="Position you Need to apply For?">

                    <span class="text-danger"
                        *ngIf="form.controls['PositionApplied'].touched && form.hasError('required','PositionApplied')">*Field
                        is required</span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Availability</label>
                    <select class="form-select" formControlName="Availabilty" required>
                        <option class="form-select1">Open this select menu</option>
                        <option>1 Month</option>
                        <option>2 Months</option>
                        <option>More than 2 Months</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label"> Country Residing</label>
                    <input type="text" formControlName="CountryResiding" class="form-control"
                        placeholder="Enter your Country Residing">

                    <span class="text-danger"
                        *ngIf="form.controls['CountryResiding'].touched && form.hasError('required','CountryResiding')">*Field
                        is required</span>
                </div>
                <div class="mb-3">
                    <label class="form-label"> Citizenship</label>
                    <input type="text" formControlName="Citizenship" class="form-control" placeholder="Citizenship">

                    <span class="text-danger"
                        *ngIf="form.controls['Citizenship'].touched && form.hasError('required','Citizenship')">*Field
                        is required</span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Resume</label>
                    <input type="file" class="input-box" #resume formControlName="filesResume"
                        placeholder="choose the file" (change)="uploadcandidateFile(resume.files,'Resume')">
                </div>
                <div class="mb-3">
                    <label class="form-label">Any Certification</label>
                    <input type="file" class="input-box" #file formControlName="files" placeholder="choose the file"
                        (change)="uploadcandidateFile(file.files,'Certificate')">
                </div>

                <div class="mb-3">
                    <label class="form-label">Additional Documents</label>
                    <input type="file" class="input-box" #document formControlName="additionalfiles"
                        placeholder="choose the file" (change)="uploadcandidateFile(document.files,'AdditionalDoc')">
                </div>
                <div class="submitButton">
                    <button type="submit" class="btn btn-primary" (click)="candidateLogin()">Register
                        Now!</button>
                </div>
            </form>
        </div>
    </div>

</section>