<section class="wrap ">
    <!-- <div class="container"> -->
    <div class="content">
        <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#1D66DE" fill-opacity="1"
                d="M0,160L80,170.7C160,181,320,203,480,181.3C640,160,800,96,960,74.7C1120,53,1280,75,1360,85.3L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
            </path>
            <text x="70" y="115" fill="white" font-size="70px"> User Details</text>
        </svg>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center">
                <!--bg-dark text-white -->
                <thead class=" bg-primary text-white">
                    <tr class="header">
                        <th>Candidate</th>
                        <th>Full Name</th>
                        <th>Email Id</th>
                        <th>Phone Number</th>
                        <th>Aadhaar Card Number</th>
                        <th>Passport Number</th>
                        <th>Education</th>
                        <th>Skill Sets</th>
                        <th>Experienced</th>
                        <th>Fresher </th>
                        <th>Current Position</th>
                        <th>Current ctc</th>
                        <th>Expected ctc</th>
                        <th>Position Applied For</th>
                        <th>Availability</th>
                        <th>Current City</th>
                        <th>Country Residing </th>
                        <th>Citizenship</th>
                        <th>Resume</th>
                        <th>Any Cert</th>
                        <th>additional Cert</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dataValue  | filter : searchValue" data-bs-toggle="modal"
                        attr.data-bs-target="#example{{item.candidateId}}">

                        <td>{{item.candidateId}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.emailId}}</td>
                        <td>{{item.phoneNumber}}</td>
                        <td>{{item.identityCardNumber}}</td>
                        <td>{{item.passPort}}</td>
                        <td>{{item.educationDetails}}</td>
                        <td>{{item.skillSet}}</td>
                        <td>{{item.experience}}</td>
                        <td>{{item.fresher}}</td>
                        <td>{{item.currentCity}}</td>
                        <td>{{item.currentRole}}</td>
                        <td>{{item.currentCtc}}</td>
                        <td>{{item.expectedCtc}}</td>
                        <td>{{item.positionApplied}}</td>
                        <td>{{item.availabilty}}</td>
                        <td>{{item.countryResiding}}</td>
                        <td>{{item.citizenship}}</td>
                        <td>{{item.attachmentIds}}</td>


                    </tr>

                </tbody>
            </table>
        </div>

        <!-- </div> -->
        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary" >
            VIEW
        </button> -->

        <!-- Modal -->
        <div *ngFor="let item of dataValue">
            <div class="modal fade" attr.id="example{{item.candidateId}}" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">USER DETAILS</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <th>Name </th>
                                        <td>{{item.name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Email </th>
                                        <td>{{item.emailId}}</td>
                                    </tr>
                                    <tr>
                                        <th>Number </th>
                                        <td>{{item.phoneNumber}}</td>
                                    </tr>
                                    <tr>
                                        <th>Aadhaar Card Number </th>
                                        <td>{{item.identityCardNumber}}</td>
                                    </tr>
                                    <tr>
                                        <th>Passport Number </th>
                                        <td>{{item.passPort}}</td>
                                    </tr>
                                    <tr>
                                        <th>Education </th>
                                        <td>{{item.educationDetails}}</td>
                                    </tr>
                                    <tr>
                                        <th>Skill Sets </th>
                                        <td>{{item.skillSet}}</td>
                                    </tr>
                                    <tr>
                                        <th>Experienced</th>
                                        <td>{{item.experience}}</td>
                                    </tr>
                                    <tr>
                                        <th>Fresher </th>
                                        <td>{{item.fresher}}</td>
                                    </tr>
                                    <tr>
                                        <th>Current City </th>
                                        <td>{{item.currentCity}}</td>
                                    </tr>
                                    <tr>
                                        <th>Current Position</th>
                                        <td>{{item.currentRole}}</td>
                                    </tr>
                                    <tr>
                                        <th>Current Ctc</th>
                                        <td>{{item.currentCtc}}</td>
                                    </tr>
                                    <tr>
                                        <th>Expected Ctc</th>
                                        <td>{{item.expectedCtc}}</td>
                                    </tr>
                                    <tr>
                                        <th>Position Applied For </th>
                                        <td>{{item.positionApplied}}</td>
                                    </tr>
                                    <tr>
                                        <th>Availability </th>
                                        <td>{{item.availabilty}}</td>
                                    </tr>

                                    <tr>
                                        <th>Country Residing </th>
                                        <td>{{item.countryResiding}}</td>
                                    </tr>
                                    <tr>
                                        <th>Citizenship </th>
                                        <td>{{item.citizenship}}</td>
                                    </tr>
                                    <tr>
                                        <th>Resume </th>
                                        <td><button class="btn1"><i class="fa fa-download"></i> Download</button></td>
                                    </tr>

                                    <tr>
                                        <th>Any Cert </th>
                                        <td><button class="btn1"><i class="fa fa-download"></i> Download</button></td>
                                    </tr>
                                    <tr>
                                        <th>Additional Cert </th>
                                        <td><button class="btn1"><i class="fa fa-download"></i> Download</button></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Download</button>  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="" *ngFor="let item of dataValue" >
        {{item.FileLocation}}
       </div>
       
       
       
       <a href="https://localhost:44340/api/FileAttachment/data?fileUrl=Resource%5C%5CImages%5C%5C3%202022%2016%5C%5C5178.pdf" download>dowload</a> -->
</section>